<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link rel="SHORTCUT ICON" href="assets/icons/fav.ico">
		<title>{$smarty.const.SITE_NAME} {$smarty.const.VERSION}</title>
	</head>
	<!-- {$smarty.template} ($Id$) -->
	<!-- Layout manager itterator -->
	<frameset cols="{foreach from=$panels item="frame" key="idx"}{$frame.width}{if $idx < sizeof($panels)-1},{/if}{/foreach}" rows="*" frameborder='1' border="8" framespacing="3">
		<!-- Dynamic frames -->
		{foreach from=$panels item="frame"}
		<frame frameborder='1' src="?module=mod_layout&action=render_panel&root_tpl={$frame.tpl}&bgcolor={$frame.bgcolor}&id={$frame.id}" name="{$frame.name}" id="{$frame.id}" scrolling="{$frame.scrolling}" resize="yes" >
		{/foreach}
		<!-- End of dynamic frames -->
	</frameset>
	<!-- End of layout manager itterator -->
	<!-- End of {$smarty.template} ($Id$) -->
	<noframes></noframes>
</html>
