<!-- {$smarty.template} ($Id$) -->

<!-- Active Content Script -->
<script src="assets/jscript/AC_RunActiveContent.js" type="text/javascript"></script>

<!-- Menu header box -->
<div class="titlebar">
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>Visual Network Explorer</td>
		<td align="right"><img id="restore" src="assets/core/restore.gif" class="button" width="13" height="15" onClick="parent.document.body.cols = '72%,28%'; document.getElementById('maximize').style.display='block'; this.style.display='none';" title="Restore" style="display: none;"> <img id="maximize" class="button" src="assets/core/maximize.gif" width="13" height="15" onClick="parent.document.body.cols = '*,15'; document.getElementById('restore').style.display='block'; this.style.display='none';" title="Maximize"></td>
	</tr>
</table>
</div>

{capture assign="ip"}{$smarty.get.ip|default:$smarty.session.request.ip}{/capture}

<div class="panel">

<script type="text/javascript">
	AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0',
	'width','100%',
	'height','900',
	'src','assets/control_visual_net?ip={$ip}',
	'quality','high',
	'salign','LT',
	'pluginspage','http://www.macromedia.com/go/getflashplayer',
	'movie','assets/control_visual_net?ip={$ip}'
	 ); //end AC code
</script>

</div>

{literal}
<script>
parent.parent.toolbar.MM_nbGroup('down','group1','network','assets/toolbar/network_over.gif',1);
</script>
{/literal}
<!-- end of {$smarty.template} -->
