/* Printer Classes */
.printOnly {
	display: block;
}

.noPrint, .noPrintInline {
	display: none;
}

.open, .closed {
	display: block;
}

SPAN.print {
	display: inline;
}

H1 {
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 10px;
}

H2 {
	font-weight: bold;
	font-size: 12pt;
	margin-bottom: 5px;
	margin-top: 35px;
}

H3 {
	font-weight: bold;
	font-size: 12pt;
	margin-bottom: 5px;
	margin-top: 15px;
}

/* Table & Datagrid Classes */
DIV.datagrid TD, TABLE.Table TD, TABLE.datagrid TD {
	border-bottom: 1px solid #CCCCCC;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;
	font-size: 12px;
}

DIV.datagrid TH, TABLE.Table TH, TABLE.datagrid TH, TR.headerstyle TD {
	border-left: 1px solid White;
	border-top: 1px solid White;
	border-bottom: 1px solid #808080;
	border-right: 1px solid White;
	background-color: #D4D0C8;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Tahoma, sans-serif;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	height: 22px;
}

BODY {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	font-size: 14px;
	line-height: 22px;
}

P, A, LI {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 22px;
	color: #666666;
}

SPAN.inlineHeading {
	color: #000000;
	font-weight: bold;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	margin-right: 8px;
}

IMG.icon_control {
	display: none;
}

A {
	color: Black;
	text-decoration: none;
}

.cell_green {
	color: #009900;
	font-weight: bold;
	text-align: center;
}

.cell_yellow {
	color: #CCFF00;
	font-weight: bold;
	text-align: center;
}

.cell_red {
	color: #FF0000;
	font-weight: bold;
	text-align: center;
}
