
<!-- {$smarty.template} ($Id$) -->
{import_js files="AC_RunActiveContent"}
<script language="Javascript">
	//parent.document.body.cols = '25%,*,15px';
</script>

<div class="titlebar">
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td>Exploring interface {$row.name} on device {$row.label} ({$row.ip_address})</td>
		<td align="right"><img id="restore" src="assets/core/restore.gif" class="button" width="13" height="15" onClick="parent.document.body.cols = '25%,50%,25%'; document.getElementById('maximize').style.display='block'; this.style.display='none';" title="Restore" style="display: none;"> <img id="maximize" class="button" src="assets/core/maximize.gif" width="13" height="15" onClick="parent.document.body.cols = '15,*,15'; document.getElementById('restore').style.display='block'; this.style.display='none';" title="Maximize"></td>
	</tr>
</table>
</div>

{capture assign="ip"}{$smarty.get.ip|default:$smarty.session.request.ip}{/capture}

<div class="panel">

<script type="text/javascript">
	AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0',
	'width','100%',
	'height','1240',
	'src','assets/control_visual_net?device_id={$smarty.get.device}&iface={$smarty.get.interface}&ip={$ip}',
	'quality','high',
	'salign','LT',
	'pluginspage','http://www.macromedia.com/go/getflashplayer',
	'movie','assets/control_visual_net?device_id={$smarty.get.device}&iface={$smarty.get.interface}&ip={$ip}'
	 ); //end AC code
</script>

</div>

<!-- end of {$smarty.template} -->
