.sidebar-nav{padding:9px 0}
.dropdown-menu .sub-menu{left:100%;position:absolute;top:0;visibility:hidden;margin-top:-1px}
.dropdown-menu li:hover .sub-menu{visibility:visible}
.dropdown:hover .dropdown-menu{display:block}
.nav-tabs .dropdown-menu,.nav-pills .dropdown-menu{margin-top:0}
.navbar-nav .dropdown-menu{margin-top:0}
.navbar-nav .sub-menu:before{border-bottom:7px solid transparent;border-left:none;border-right:7px solid rgba(0,0,0,0.2);border-top:7px solid transparent;left:-7px;top:10px}
.navbar-nav .sub-menu:after{border-top:6px solid transparent;border-left:none;border-right:6px solid #fff;border-bottom:6px solid transparent;left:10px;top:11px;left:-6px}
.form-group ul{max-width:550px}
.device-hover{border:1px solid #ddd !important;background-color:#eee !important}
.isotope-item{width:210px;border:1px solid #e5e5e5;background-color:#f8f8f8;margin:0 5px 10px 0;padding:8px;text-align:left;border-radius:5px;word-wrap:break-word;cursor:pointer;}
.isotope-item .device-name{height:1.428571429em;overflow:hidden}
.isotope-item .isotope-devicetype,.isotope-item .isotope-group{clear:both;float:right;padding:5px 0 0 4px;font-size:.7em;margin-top:-6px;font-style:italic}
.isotope-item-small{padding:5px;width:100px;font-size:.7em}
.isotope-item-danger{border-color:#b34445;background-color:#b94a48;color:White;}
.isotope-item-danger.device-hover{border-color:#b34445 !important;background-color:#b94a48 !important}
.isotope-item-danger .isotope-device-icon{color:#fff}
.isotope-item-warning{border-color:#efa545;background-color:#f0ad4e;color:White;}
.isotope-item-warning.device-hover{border-color:#efa545 !important;background-color:#f0ad4e !important;color:White}
.isotope-item-warning .isotope-device-icon{color:#fff}
.isotope-icon{float:right;padding-left:4px;font-size:1.2em}
.isotope-icon-success{color:#5cb85c}
.isotope-device-icon{z-index:100;position:relative;float:left;display:inline;color:#aaa;font-size:28px;padding-right:8px;padding-top:3px}
.isotope-item{z-index:2;}
.isotope-item.isotope-hidden{pointer-events:none;z-index:1}
#modal-delete-device{margin-right:15px}
.profile-widgets table{font-size:14px}
.profile-widgets .panel-body{padding:0}
.network-interface{width:32px;height:32px;font-size:11px;color:#333;background-image:url("../assets/network-interface.png");padding-top:8px;text-align:center;}
.network-interface.online{background-color:#008000}
.network-interface.warning{background-color:#f0ad4e}
.network-interface.offline{background-color:#f00}
.btn-group #change-refresh{margin-top:8px}
.no-bandwidth-message{margin-left:20px}
.jstree-icon.danger{color:#f00}
.jstree-icon.warning{color:#ff0}
.device-checkbox{float:left;display:none}
.multiple-delete{display:none}
.device-nav-buttons{margin-top:10px;float:left}
.jstree-icon.warning{color:#f0ad4e !important}
.jstree-icon.danger{color:#b94a48 !important}
.device-widgets > div{height:220px}
#device-ping-tracker{display:none;}
#device-ping-tracker svg{height:200px;width:100%}
.netmon-nav{background-color:#3e64af;}
.netmon-nav .navbar-brand{color:#fff}
.netmon-nav .navbar-nav > li > a{color:#bfd5ff;}
.netmon-nav .navbar-nav > li > a:hover{color:#fff}
.netmon-nav .navbar-toggle{border-color:#563d7c;}
.netmon-nav .navbar-toggle:hover{background-color:#38496b;border-color:#38496b}
.netmon-nav .navbar-nav > .active > a,.netmon-nav .navbar-nav > .active > a:hover{color:#fff;background-color:#38496b}
.navbar-inverse{border-color:#38496b}
.application{padding-top:70px}
.report{padding-top:10px}
.content{margin-right:6px;padding-left:12px;padding-right:12px}
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus{border-color:#eee;background-color:#eee;color:#333}
.table{border-bottom:1px solid #ddd}
a.list-group-item.active{background-color:#3e64af;border-color:#3e64af}
.badge-danger{background-color:#d9534f}
.badge-success{background-color:#5cb85c}
.font-success{color:#5cb85c}
.netmon-chart{text-align:center;padding-bottom:25px;vertical-align:bottom;}
.netmon-chart svg{width:100%}
.netmon-chart-thermometer svg{width:auto !important}
.template-netflow .netmon-chart svg,.template-oid .netmon-chart svg{max-height:200}
.netmon-chart-title{padding-bottom:10px;text-align:center}
.small-text{font-size:.85em}
.micro-text{font-size:.7em}
.netmon-widget{display:inline;text-align:center}
.icon-widget{font-size:100px}
.icon-widget-small{font-size:24px}
.text-extra-muted{color:#ddd}
.progress-cyan{background-color:#00bfbf}
.progress-black{background-color:Black}
.progress-magenta{background-color:#f0f}
.progress-yellow{background-color:#eaea00}
.progress-grey{backgroud-color:#555}
circle{cursor:pointer}
.current-sort{display:inline-block}
.netmon-label-UP{background-color:#5cb85c}
.netmon-label-UP[href]:hover,.netmon-label-UP[href]:focus{background-color:#449d44}
.netmon-label-DOWN{background-color:#d9534f}
.netmon-label-DOWN[href]:hover,.netmon-label-DOWN[href]:focus{background-color:#c9302c}
.stackedbar-chart{height:400px}
.panel-collapse{overflow-x:scroll}
td{font-size:14px}
a[href]:after{content:none}
.stackedbar-chart svg{width:100%}
#message-bar .alert{margin:0 20px 20px 20px}
.btn-group .dashboard-filter{margin-top:8px}
.donut-chart-title,.template-oid .netmon-chart-title{overflow-y:hidden;word-break:break-word}
.donut-chart-title{height:90px}
.template-oid .netmon-chart-title{height:65px;padding-bottom:5px !important}
#initial-spinner{text-align:center;padding-top:40px;}
#initial-spinner img{height:100px;width:100px}
.login-view{width:580px;margin:0 auto 0 auto}
#log-messages{background-color:#f2dede;border:0}
.networks-iframe{border:0;min-width:765px;width:100%;height:100%;overflow-y:hidden}
.report-view{max-width:1170px;margin:auto}
.netmon-report-chart{min-height:400px;max-height:550px;margin:0 auto;padding-top:20px;}
.netmon-report-chart svg{width:100%}
.netmon-report-chart .dygraph-legend{top:-20px !important}
.license-notice{padding-bottom:10px}
.version-upgrade .center{text-align:center}
.hidden-attribute{display:none}
#open-tunnel{width:80%;margin:0 10% 20px 10%}
#collapseThree .vne-node{clear:both;width:100%}
#collapseThree .color-box{width:10px;height:10px;display:inline-block;}
#collapseThree .color-box.green{background-color:#008000}
#collapseThree .color-box.orange{background-color:#ff9a2f}
#collapseThree .color-box.red{background-color:#f00}
table thead tr .header{background-image:url("bg.gif");background-repeat:no-repeat;background-position:center right;cursor:pointer;}
table thead tr .header.headerSortUp{background-image:url("/assets/asc.gif")}
table thead tr .header.headerSortDown{background-image:url("/assets/desc.gif")}
.chartWrap{margin:0;padding:0;overflow:hidden}
.nvtooltip{position:absolute;background-color:rgba(255,255,255,0.75);padding:1px;border:1px solid rgba(0,0,0,0.2);z-index:10000;font-family:Arial;font-size:13px;-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;pointer-events:none;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.nvtooltip h3{margin:0;padding:4px 14px;line-height:18px;font-weight:normal;background-color:rgba(247,247,247,0.75);text-align:center;border-bottom:1px solid #ebebeb;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}
.nvtooltip p{margin:0;padding:5px 14px;text-align:center}
.nvtooltip span{display:inline-block;margin:2px 0}
.nvtooltip.x-nvtooltip,.nvtooltip.y-nvtooltip{padding:8px}
.nvtooltip-pending-removal{position:absolute;pointer-events:none}
svg{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;height:100%;}
svg text{font:normal 12px Arial}
svg .title{font:bold 14px Arial}
.nvd3 .nv-background{fill:#fff;fill-opacity:0}
.nvd3.nv-noData{font-size:18px;font-weight:bold}
.nvd3 .nv-legend .nv-series{cursor:pointer}
.nvd3 .nv-legend .disabled circle{fill-opacity:0}
.nvd3 .nv-axis path{fill:none;stroke:#000;stroke-opacity:.75;shape-rendering:crispEdges;}
.nvd3 .nv-axis path.domain{stroke-opacity:.75}
.nvd3 .nv-axis.nv-x path.domain{stroke-opacity:0}
.nvd3 .nv-axis line{fill:none;stroke:#e5e5e5;shape-rendering:crispEdges}
.nvd3 .nv-axis .nv-axisMaxMin text{font-weight:bold}
.nvd3 .nv-bars .negative rect{zfill:#a52a2a}
.nvd3 .nv-bars rect{zfill:#4682b4;fill-opacity:.75;transition:fill-opacity 250ms linear;-moz-transition:fill-opacity 250ms linear;-webkit-transition:fill-opacity 250ms linear;}
.nvd3 .nv-bars rect:hover{fill-opacity:1}
.nvd3 .nv-bars .hover rect{fill:#add8e6}
.nvd3 .nv-bars .hover text{fill:#000}
.nvd3 .nv-bars text{fill:rgba(0,0,0,0)}
.nvd3.nv-pie path{stroke-opacity:0;transition:fill-opacity 250ms linear,stroke-width 250ms linear,stroke-opacity 250ms linear;-moz-transition:fill-opacity 250ms linear,stroke-width 250ms linear,stroke-opacity 250ms linear;-webkit-transition:fill-opacity 250ms linear,stroke-width 250ms linear,stroke-opacity 250ms linear;stroke:#fff;stroke-width:1px;stroke-opacity:1}
.nvd3.nv-pie .nv-slice text{stroke:#000;stroke-width:0}
.nvd3.nv-pie .hover path{fill-opacity:.7}
.nvd3.nv-pie .nv-label rect{fill-opacity:0;stroke-opacity:0}
.nvd3 .nv-groups path.nv-line{fill:none;stroke-width:2.5px}
.nvd3 .nv-groups path.nv-area{stroke:none}
.nvd3 .nv-groups .nv-point{transition:stroke-width 250ms linear,stroke-opacity 250ms linear;-moz-transition:stroke-width 250ms linear,stroke-opacity 250ms linear;-webkit-transition:stroke-width 250ms linear,stroke-opacity 250ms linear;}
.nvd3 .nv-groups .nv-point.hover{stroke-width:20px;stroke-opacity:.5}
.nvd3 .nv-line.hover path{stroke-width:6px}
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point{fill-opacity:0;stroke-opacity:0}
.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point{fill-opacity:.5 !important;stroke-opacity:.5 !important}
.nvd3 .nv-point-paths path{stroke:#aaa;stroke-opacity:0;fill:#eee;fill-opacity:0}
.nvd3 .nv-indexLine{cursor:ew-resize}
.nvd3 .nv-distribution{pointer-events:none}
.nvd3 .nv-scatter .nv-point.hover{fill-opacity:1}
.nvd3.nv-stackedarea path.nv-area{fill-opacity:.7;stroke-opacity:0;transition:fill-opacity 250ms linear,stroke-opacity 250ms linear;-moz-transition:fill-opacity 250ms linear,stroke-opacity 250ms linear;-webkit-transition:fill-opacity 250ms linear,stroke-opacity 250ms linear;}
.nvd3.nv-stackedarea path.nv-area.hover{fill-opacity:.9}
.nvd3.nv-stackedarea .nv-groups .nv-point{stroke-opacity:0;fill-opacity:0;}
.nvd3.nv-stackedarea .nv-groups .nv-point.hover{stroke-width:20px;stroke-opacity:.75;fill-opacity:1}
.nvd3.nv-linePlusBar .nv-bar rect{fill-opacity:.75;}
.nvd3.nv-linePlusBar .nv-bar rect:hover{fill-opacity:1}
.nvd3.nv-bullet{font:10px sans-serif;}
.nvd3.nv-bullet .nv-measure{fill-opacity:.8;}
.nvd3.nv-bullet .nv-measure:hover{fill-opacity:1}
.nvd3.nv-bullet .nv-marker{stroke:#000;stroke-width:2px}
.nvd3.nv-bullet .nv-markerTriangle{stroke:#000;fill:#fff;stroke-width:1.5px}
.nvd3.nv-bullet .nv-tick line{stroke:#666;stroke-width:.5px}
.nvd3.nv-bullet .nv-range{fill:#999;fill-opacity:.4;}
.nvd3.nv-bullet .nv-range.nv-s0{fill:#eee}
.nvd3.nv-bullet .nv-range.nv-s1{fill:#ddd}
.nvd3.nv-bullet .nv-range.nv-s2{fill:#ccc}
.nvd3.nv-bullet .nv-range:hover{fill-opacity:.7}
.nvd3.nv-bullet .nv-title{font-size:14px;font-weight:bold}
.nvd3.nv-bullet .nv-subtitle{fill:#999}
.nvd3.nv-sparkline path{fill:none}
.nvd3.nv-sparklineplus g.nv-hoverValue{pointer-events:none}
.nvd3.nv-sparklineplus .nv-hoverValue line{stroke:#333;stroke-width:1.5px}
.nvd3.nv-sparklineplus .nv-yValue{stroke:#f66}
.nvd3.nv-sparklineplus .nv-maxValue{stroke:#2ca02c;fill:#2ca02c}
.nvd3.nv-sparklineplus .nv-minValue{stroke:#d62728;fill:#d62728}
.nvd3.nv-sparklineplus .nv-currentValue{font-weight:bold;font-size:1.1em}
.nvd3 .nv-hoverArea{fill-opacity:0;stroke-opacity:0}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick{stroke-width:2px;}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick.hover{stroke-width:4px}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick.positive{stroke:#2ca02c}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick.negative{stroke:#d62728}
.nvd3.nv-historicalStockChart .nv-axis .nv-axislabel{font-weight:bold}
.nvd3.nv-historicalStockChart .nv-dragTarget{fill-opacity:0;stroke:none;cursor:move}
.nvd3 .nv-brush .extent{fill-opacity:0 !important}
.nvd3 .nv-brushBackground rect{stroke:#000;stroke-width:.4;fill:#fff;fill-opacity:.7}
.nvd3.nv-indentedtree .name{margin-left:5px}
.nvd3.nv-indentedtree .clickable{color:#08c;cursor:pointer}
.nvd3.nv-indentedtree span.clickable:hover{color:#005580;text-decoration:underline}
.nvd3.nv-indentedtree .nv-childrenCount{display:inline-block;margin-left:5px}
.nvd3.nv-indentedtree .nv-treeicon{cursor:pointer;}
.nvd3.nv-indentedtree .nv-treeicon.nv-folded{cursor:pointer}
.nvd3 .background path{fill:none;stroke:#ccc;stroke-opacity:.4;shape-rendering:crispEdges}
.nvd3 .foreground path{fill:none;stroke:#4682b4;stroke-opacity:.7}
.nvd3 .brush .extent{fill-opacity:.3;stroke:#fff;shape-rendering:crispEdges}
.nvd3 .axis text{text-shadow:0 1px 0 #fff}
.nv-brush .extent{fill-opacity:.125;shape-rendering:crispEdges}
.nv-brush .resize path{fill:#eee;stroke:#666}
.nvd3 .nv-axis .zero line,.nvd3 .nv-axis line.zero{stroke-opacity:.75}
.nvd3 .x .nv-axis .nv-axisMaxMin text,.nvd3 .x2 .nv-axis .nv-axisMaxMin text,.nvd3 .x3 .nv-axis .nv-axisMaxMin text{text-anchor:middle}
.nvd3 .nv-multibar .nv-groups rect,.nvd3 .nv-multibarHorizontal .nv-groups rect,.nvd3 .nv-discretebar .nv-groups rect{stroke-opacity:0;transition:fill-opacity 250ms linear;-moz-transition:fill-opacity 250ms linear;-webkit-transition:fill-opacity 250ms linear}
.nvd3 .nv-multibar .nv-groups rect:hover,.nvd3 .nv-multibarHorizontal .nv-groups rect:hover,.nvd3 .nv-discretebar .nv-groups rect:hover{fill-opacity:1}
.nvd3 .nv-discretebar .nv-groups text,.nvd3 .nv-multibarHorizontal .nv-groups text{font-weight:bold;fill:#000;stroke:rgba(0,0,0,0)}
.nvd3.nv-scatter .nv-groups .nv-point.hover,.nvd3 .nv-groups .nv-point.hover{stroke-width:20px;fill-opacity:.5 !important;stroke-opacity:.5 !important}
.nvd3.nv-sparklineplus,.nvd3.nv-sparklineplus g{pointer-events:all}
.nvd3.nv-sparklineplus .nv-xValue,.nvd3.nv-sparklineplus .nv-yValue{stroke-width:0;font-size:.9em;font-weight:normal}
.nvd3 .axis line,.axis path{fill:none;stroke:#000;shape-rendering:crispEdges}
.ui-timepicker-div .ui-widget-header{margin-bottom:8px}
.ui-timepicker-div dl{text-align:left}
.ui-timepicker-div dl dt{float:left;clear:left;padding:0 0 0 5px}
.ui-timepicker-div dl dd{margin:0 10px 10px 40%}
.ui-timepicker-div td{font-size:90%}
.ui-tpicker-grid-label{background:none;border:none;margin:0;padding:0}
.ui-timepicker-rtl{direction:rtl}
.ui-timepicker-rtl dl{text-align:right;padding:0 5px 0 0}
.ui-timepicker-rtl dl dt{float:right;clear:right}
.ui-timepicker-rtl dl dd{margin:0 40% 10px 10px}
.ui-combobox{display:inline-block;margin:0;margin-right:1.8em;position:relative}
.ui-combobox-input{padding:.2em;margin:0}
.ui-combobox-button{position:absolute;width:1.8em !important;margin:0;margin-left:-1px;top:0;bottom:0}
.ui-combobox-button .ui-button-text{padding:0}
.ui-combobox .ui-autocomplete{max-height:10em;overflow-y:auto;overflow-x:hidden}
.chosen-container{position:relative;display:inline-block;vertical-align:middle;font-size:13px;zoom:1;*display:inline;-webkit-user-select:none;-moz-user-select:none;user-select:none}
.chosen-container *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.chosen-container .chosen-drop{position:absolute;top:100%;left:-9999px;z-index:1010;width:100%;border:1px solid #aaa;border-top:0;background:#fff;box-shadow:0 4px 5px rgba(0,0,0,0.15)}
.chosen-container.chosen-with-drop .chosen-drop{left:0}
.chosen-container a{cursor:pointer}
.chosen-container .search-choice .group-name,.chosen-container .chosen-single .group-name{margin-right:4px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-weight:normal;color:#999}
.chosen-container .search-choice .group-name:after,.chosen-container .chosen-single .group-name:after{content:":";padding-left:2px;vertical-align:top}
.chosen-container-single .chosen-single{position:relative;display:block;overflow:hidden;padding:0 0 0 8px;height:34px;border:1px solid #aaa;border-radius:5px;color:#444;text-decoration:none;white-space:nowrap;line-height:34px}
.chosen-container-single .chosen-default{color:#999}
.chosen-container-single .chosen-single span{display:block;overflow:hidden;margin-right:26px;text-overflow:ellipsis;white-space:nowrap}
.chosen-container-single .chosen-single-with-deselect span{margin-right:38px}
.chosen-container-single .chosen-single abbr{position:absolute;top:6px;right:26px;display:block;width:12px;height:12px;background:url("chosen-sprite.png") -42px 1px no-repeat;font-size:1px}
.chosen-container-single .chosen-single abbr:hover{background-position:-42px -10px}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover{background-position:-42px -10px}
.chosen-container-single .chosen-single div{position:absolute;top:0;right:0;display:block;width:18px;height:100%}
.chosen-container-single .chosen-single div b{display:block;width:100%;height:100%;margin-top:5px;background:url("chosen-sprite.png") no-repeat 0 2px}
.chosen-container-single .chosen-search{position:relative;z-index:1010;margin:0;padding:3px 4px;white-space:nowrap}
.chosen-container-single .chosen-search input[type="text"]{margin:1px 0;padding:4px 20px 4px 5px;width:100%;height:auto;outline:0;border:1px solid #aaa;background:#fff url("chosen-sprite.png") no-repeat 100% -20px;background:url("chosen-sprite.png") no-repeat 100% -20px;font-size:1em;font-family:sans-serif;line-height:normal;border-radius:0}
.chosen-container-single .chosen-drop{margin-top:-1px;border-radius:0 0 4px 4px;background-clip:padding-box}
.chosen-container-single.chosen-container-single-nosearch .chosen-search{position:absolute;left:-9999px}
.chosen-container .chosen-results{color:#444;position:relative;overflow-x:hidden;overflow-y:auto;margin:0 4px 4px 0;padding:0 0 0 4px;max-height:240px;-webkit-overflow-scrolling:touch}
.chosen-container .chosen-results li{display:none;margin:0;padding:5px 6px;list-style:none;line-height:15px;word-wrap:break-word;-webkit-touch-callout:none}
.chosen-container .chosen-results li.active-result{display:list-item;cursor:pointer}
.chosen-container .chosen-results li.disabled-result{display:list-item;color:#ccc;cursor:default}
.chosen-container .chosen-results li.highlighted{background-color:#3875d7;background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(20%,#3875d7),color-stop(90%,#2a62bc));background-image:-webkit-linear-gradient(#3875d7 20%,#2a62bc 90%);background-image:-moz-linear-gradient(#3875d7 20%,#2a62bc 90%);background-image:-o-linear-gradient(#3875d7 20%,#2a62bc 90%);background-image:linear-gradient(#3875d7 20%,#2a62bc 90%);color:#fff}
.chosen-container .chosen-results li.no-results{color:#777;display:list-item;background:#f4f4f4}
.chosen-container .chosen-results li.group-result{display:list-item;font-weight:bold;cursor:default}
.chosen-container .chosen-results li.group-option{padding-left:15px}
.chosen-container .chosen-results li em{font-style:normal;text-decoration:underline}
.chosen-container-multi .chosen-choices{position:relative;overflow:hidden;margin:0;padding:0 5px;width:100%;height:auto !important;height:1%;border:1px solid #aaa;background-color:#fff;background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(1%,#eee),color-stop(15%,#fff));background-image:-webkit-linear-gradient(#eee 1%,#fff 15%);background-image:-moz-linear-gradient(#eee 1%,#fff 15%);background-image:-o-linear-gradient(#eee 1%,#fff 15%);background-image:linear-gradient(#eee 1%,#fff 15%);cursor:text}
.chosen-container-multi .chosen-choices li{float:left;list-style:none}
.chosen-container-multi .chosen-choices li.search-field{margin:0;padding:0;white-space:nowrap}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{margin:1px 0;padding:0;height:34px;outline:0;border:0 !important;background:transparent !important;box-shadow:none;color:#999;font-size:100%;font-family:sans-serif;line-height:normal;border-radius:0}
.chosen-container-multi .chosen-choices li.search-choice{position:relative;margin:3px 5px 3px 0;padding:3px 20px 3px 5px;border:1px solid #aaa;max-width:100%;border-radius:3px;color:#333;line-height:13px;cursor:default}
.chosen-container-multi .chosen-choices li.search-choice span{word-wrap:break-word}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{position:absolute;top:4px;right:3px;display:block;width:12px;height:12px;background:url("chosen-sprite.png") -42px 1px no-repeat;font-size:1px}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover{background-position:-42px -10px}
.chosen-container-multi .chosen-choices li.search-choice-disabled{padding-right:5px;border:1px solid #ccc}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close{background-position:-42px -10px}
.chosen-container-multi .chosen-results{margin:0;padding:0}
.chosen-container-multi .chosen-drop .result-selected{display:list-item;color:#ccc;cursor:default}
.chosen-container-active .chosen-single{border:1px solid #5897fb;box-shadow:0 0 5px rgba(0,0,0,0.3)}
.chosen-container-active.chosen-with-drop .chosen-single{border:1px solid #aaa;-moz-border-radius-bottomright:0;border-bottom-right-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0}
.chosen-container-active.chosen-with-drop .chosen-single div{border-left:none;background:transparent}
.chosen-container-active.chosen-with-drop .chosen-single div b{background-position:-18px 2px}
.chosen-container-active .chosen-choices{border:1px solid #5897fb;box-shadow:0 0 5px rgba(0,0,0,0.3)}
.chosen-container-active .chosen-choices li.search-field input[type="text"]{color:#222 !important}
.chosen-disabled{opacity:.5 !important;cursor:default}
.chosen-disabled .chosen-single{cursor:default}
.chosen-disabled .chosen-choices .search-choice .search-choice-close{cursor:default}
.chosen-rtl{text-align:right}
.chosen-rtl .chosen-single{overflow:visible;padding:0 8px 0 0}
.chosen-rtl .chosen-single span{margin-right:0;margin-left:26px;direction:rtl}
.chosen-rtl .chosen-single-with-deselect span{margin-left:38px}
.chosen-rtl .chosen-single div{right:auto;left:3px}
.chosen-rtl .chosen-single abbr{right:auto;left:26px}
.chosen-rtl .chosen-choices li{float:right}
.chosen-rtl .chosen-choices li.search-field input[type="text"]{direction:rtl}
.chosen-rtl .chosen-choices li.search-choice{margin:3px 5px 3px 0;padding:3px 5px 3px 19px}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close{right:auto;left:4px}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,.chosen-rtl .chosen-drop{left:9999px}
.chosen-rtl.chosen-container-single .chosen-results{margin:0 0 4px 4px;padding:0 4px 0 0}
.chosen-rtl .chosen-results li.group-option{padding-right:15px;padding-left:0}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div{border-right:none}
.chosen-rtl .chosen-search input[type="text"]{padding:4px 5px 4px 20px;background:#fff url("chosen-sprite.png") no-repeat -30px -20px;background:url("chosen-sprite.png") no-repeat -30px -20px;direction:rtl}
.chosen-rtl.chosen-container-single .chosen-single div b{background-position:6px 2px}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b{background-position:-12px 2px}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx){.chosen-rtl .chosen-search input[type="text"],.chosen-container-single .chosen-single abbr,.chosen-container-single .chosen-single div b,.chosen-container-single .chosen-search input[type="text"],.chosen-container-multi .chosen-choices .search-choice .search-choice-close,.chosen-container .chosen-results-scroll-down span,.chosen-container .chosen-results-scroll-up span{background-image:url("chosen-sprite@2x.png") !important;background-size:52px 37px !important;background-repeat:no-repeat !important}
}