<!-- {$smarty.template} ($Id$) -->
{import_js files="AC_RunActiveContent"}
<div class="titlebar">
	Manage Traffic Filters
</div>

	<script type="text/javascript">
	AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0',
	'width','100%',
	'height','355',
	'src','assets/filter_builder_traffic',
	'quality','high',
	'salign','LT',
	'pluginspage','http://www.macromedia.com/go/getflashplayer',
	'movie','assets/filter_builder_traffic'
	 ); //end AC code
	</script>



<!-- end of {$smarty.template} -->
