<!-- {$smarty.template} ($Id$) -->
<tr>
	<td>Port Number (optional)</td>
	<td><input type="text" {param name="pattern"} {if $cam}value="{$cam->get('pattern')|default:$smarty.post.pattern}"{/if}></td>
</tr>
<tr>
	<td colspan="2">
	<input type="hidden" name="trigger_threshold" value="-1">
	</td>
</tr>
<!-- end of {$smarty.template} -->
