
<!-- {$smarty.template} ($Id$) -->

<div class="titlebar">
	Folder Explorer
</div>

	
	<!-- Sub-Window (Inline Frame) -->
	<iframe src="?module=mod_vfs&action=get_dir_tree&root_tpl=blank_panel&class=white" id="dir_tree" width="100%" height="440px" name="dir_tree" frameborder="0"></iframe>
	
	<!-- Button Row -->
	<div class="panel">
		&nbsp;
	</div>
<!-- end of {$smarty.template} -->
